@media (max-width: 768px) { /* 모바일 화면 */
    #footer {
        position: relative;
        margin-top: 20px; /* 상단 여백 축소 */
        width: 100%;
        height: auto; /* 높이 자동 조정 */
        background: #ece9e9; /* 배경색 유지 */
        color: #b3b3b3; /* 텍스트 색상 유지 */
        padding: 20px; /* 내부 패딩 추가 */
        box-sizing: border-box; /* 패딩 포함 크기 계산 */
    }

    #footer .inner {
        width: 100%; /* 너비 100% */
        margin: 0; /* 외부 여백 제거 */
        height: auto; /* 높이 자동 조정 */
        padding-top: 20px; /* 상단 패딩 축소 */
        flex-direction: column; /* 수직 정렬 */
        align-items: center; /* 가운데 정렬 */
        padding-left: 0; /* 왼쪽 패딩 제거 */
    }

    #footer .inner .logoDiv {
        width: 100%; /* 로고 영역 너비 100% */
        /* align-items: start; */
        /* justify-content: left; */
        margin-bottom: 10px; /* 하단 여백 추가 */
    }

    #footer .inner .logoDiv p {
        font-size: 24px; /* 글자 크기 축소 */
        font-weight: 600;
        margin-bottom: 10px; /* 하단 여백 조정 */
        color: #b3b3b3; /* 텍스트 색상 유지 */
    }

    #footer .inner .logoDiv img {
        height: 50px; /* 이미지 높이 조정 */
        margin: 0; /* 가운데 정렬 */
        display: block;
    }

    #footer .inner .copCon {
        margin-top: 10px; /* 상단 여백 조정 */
        margin-bottom: 10px;
        margin-left: 0; /* 왼쪽 여백 제거 */
        width: 100%; /* 너비 100% */
        box-sizing: border-box;
        align-items: start; /* 가운데 정렬 */
        padding-left: 40px;
    }

    #footer .inner .copCon .first, 
    .sec {
        flex-direction: row;
        margin-bottom: 5px; /* 하단 여백 조정 */
        align-items: start; /* 텍스트 가운데 정렬 */
    }
    #footer .inner .copCon .third {
        flex-direction: column;
        margin-bottom: 5px; /* 하단 여백 조정 */
        align-items: start; /* 텍스트 가운데 정렬 */
    }
    #footer .inner .copCon .first p:first-child {
        color: #fcc038; /* 강조 색상 유지 */
    }

    #footer .inner .copCon p {
        margin-right: 5px; /* 오른쪽 여백 제거 */
        margin-bottom: 0px; /* 하단 여백 추가 */
        font-size: 0.8rem; /* 글자 크기 축소 */
        text-align: left; /* 텍스트 가운데 정렬 */
        color: #b3b3b3; /* 텍스트 색상 유지 */
        width: 100%;
    }
}