@media (min-width: 768px) { /* 모바일 화면 */
    
.header { 
    width: 100%; 
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    z-index: 4;
    position: relative;
    border-bottom: 1px solid #000;
}
.header.hovered {
    background-color: #fff;
    color: #fff;
    border-bottom: 0px solid #000;
}
.header.on.hovered {
    background-color: #fff;
    color: #fff;
    border-bottom: 0px solid #000;
}
.header.on {
    background-color: #ede9e9;
    border-bottom: 0px solid #000;
    /* background-color: #B0E0E6; */
}
.header:not(:hover){
    transition: background-color 0.3s ease 0.1s; 
}
.header .logo_img {
    width: 180px;
    margin-left: 240px;
    margin-right: 20px;
}

.header .menu_btn {
    cursor: pointer;
    font-size: 54px;
    margin-left: 0px;
    margin-right: 60px;
    color: #ededed;
}
.header .menu_btn.hovered {
    color: #acacac;
}
.header .menu_btn.on {
    color: #acacac;
}

}