@media (max-width: 768px) {
    #wrap {
        width: 100%;
        box-sizing: border-box;

    }
    #wrap .menuDiv {
        display: none;
    }
    #wrap .menuDiv.on {
        display: block;
        position: absolute;
        z-index: 20;
        max-height: 380px;
    
    }
    /* 모바일 메뉴 구성 */
    #wrap .menuDiv .menuList li ul li {
        font-size: 1.1em;
        line-height: 2;
        font-weight: 700;
    }
    #wrap .menuDiv .menuList li ul li a{
        color: #000;
    }
    #wrap .menuDiv .menuList .liPro,
    #wrap .menuDiv .menuList .liCom,
    #wrap .menuDiv .menuList .liCon,
    #wrap .menuDiv .menuList .liRef {
        visibility: hidden;
        opacity: 0; /* 투명도 0 */
        transition: opacity 0.5s ease 0.2s; /* 0.5초 동안 투명도 변경 */
    }
    #wrap .menuDiv .menuList .liPro {
        top: -35px;
    }
    #wrap .menuDiv .menuList .liCom{
        top: 25px;
    }
    #wrap .menuDiv .menuList .liRef{
        top: 92px;
    }
    #wrap .menuDiv .menuList .liCon{
        top: 183px;
    }

#wrap .menuDiv .menuList .liPro.hovered,
#wrap .menuDiv .menuList .liCom.hovered,
#wrap .menuDiv .menuList .liCon.hovered,
#wrap .menuDiv .menuList .liRef.hovered {
    cursor: pointer;
    visibility: visible;
    opacity: 1; /* 투명도 100% */
    position: relative;
    width: 100%;
    left: 280px;
}
    
}
