@media (min-width: 768px) {
    
.nav {
    width: 55vw;
    display: block;
    margin-left: 100px;
    margin-right: 0px;
}
.nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.nav ul li {
    width: 230px;
    padding-left: 65px;
    padding-right: 65px;
    height: 140px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #757575;
    /* color: #cfcfcf; */
    font-size: 24px;
    font-weight: 600;
    transition: color 0.5s ease;
}
.nav ul li.hovered {
    color: #ec6606;
    font-weight: 600;
    transition: color 0.5s ease;
}
.nav ul li.on {
    color: #000;
}
.nav ul li.on:hover {
    color: #ec6606;
    font-weight: 600;
    transition: color 0.5s ease;
}

} 