.companyMap {
    width: 100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.companyMap .pic {
    width: 100%;
    height: 600px;
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    border: 1px solid #000;
}
.companyMap .pic .map {
    width: 100%;
    height: 100%;
    padding: 2px 0;
    box-sizing: border-box;
    position: relative;
}
.companyMap .pic .mapBox {
    position: absolute;
    z-index: 2;
    left: 250px;
    top: 140px;
    width: 250px;
    height: 220px;
    font-size: 18px;
    text-align: left;
    background: #0a5e8b;
    color: white;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.companyMap .pic .mapBox p {
    margin-bottom: 10px;
    font-weight: 800;
}
.companyMap .pic .mapBox p:first-child {
    color: #ededed;
    font-weight: 800;
}
.companyMap .pic .mapBox ul li {
    font-size: 16px;
    font-weight: 500;
}
.refresh-button {
    position: absolute;
    top: 125px;
    right: 10px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.refresh-button:hover {
    background-color: #f0f0f0;
}