
.direction-details {
    padding: 20px;
    background-color: #fafafa;
    border-radius: 12px;
    margin-top: 20px;
    line-height: 1.6;
    font-size: 15px;
  }
  
  .direction-details h3 {
    margin-bottom: 6px;
    font-weight: 600;
    color: #555;
  }