@media (min-width: 768px) { 
    .productTt {
        width: 100%;
        height: 80px;
        line-height: 1.2;
        background: #ede9e9;
        /* background: #4C5C68; */
        /* background: #B0E0E6; */
        position: relative;
        padding-bottom: 10px;
    }
    .productTt h2{
        font-size: 50px;
        font-weight: 900;
        line-height: 1;
    }
    .productTt .site {
        position: absolute;
        top: 55x;
        left: 20px;
        display: flex;
    }
    .productTt .site p {
        margin-right: 5px;
    }
    .product .ctInner {
        display: flex;
        flex-direction: column;
    }
    .product .inner .productNav {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .product .inner .productNav ul {
        width: 100%;
        display: flex;
        margin-left: 5px;
        
    }
    .product .inner .productNav ul li{
        width: 8vw;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        margin-top: 40px;
        position: relative;
    }
    .product .inner .productNav ul li a {
        color: #000;
        font-weight: 800;
    }
    .product .inner .productNav ul li.on a {
        color: #477f90;
    }
    .product .inner .productNav ul li a::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -5px;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: #fff; /* 점의 색상 */
        border-radius: 50%; /* 동그랗게 만들기 */
    }
    .product .inner .productNav ul li.on a::before {
        background-color: #477f90; /* 점의 색상 */
    }
    

}