@media (max-width: 768px) { 
    .reference {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .reference .inner {
        width: 100%;
        height: 100%;
    }
    .referenceTt {
        width: 100%;
        height: 100%;
        line-height: 1.2;
        background: #ede9e9;
        position: relative;
        padding-bottom: 10px;
    }
    .referenceTt .inner h2{
        width: 100%;
        font-size: 20px;
        font-weight: 900;
        line-height: 2;
    }
    .referenceTt .site {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        padding-left: 20px;
        display: flex;
        line-height: 2.4;
    }
    .referenceTt .site p {
        font-size: 0.9em;
        margin-right: 5px;
    }
    .reference .ctInner {
        display: flex;
        flex-direction: column;
    }
    .reference .inner .inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .reference .inner .referenceNav {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        /* border: 1px solid #000; */
    }
    .reference .inner .referenceNav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        
    }
    .reference .inner .referenceNav ul li{
        width: 25vw;
        height: 100%;
        line-height: 1.6;
        font-size: 1em;
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .reference .inner .referenceNav ul li a {
        color: #000;
        font-weight: 800;
    }
    .reference .inner .referenceNav ul li.on a {
        color: #477f90;
    }
    .reference .inner .referenceNav ul li a::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -7px;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: #fff; /* 점의 색상 */
        border-radius: 50%; /* 동그랗게 만들기 */
    }
    .reference .inner .referenceNav ul li.on a::before {
        background-color: #477f90; /* 점의 색상 */
    }
    

}